<div class="hero" style="padding-bottom: 84px;">
  {% section 'featured-product' %}
</div>
<div class="first-section">
  {% section 'featured-collection' %}
</div>
<div class="bg-gradient-dark">
  {{ content_for_index }}
</div>

