<div class="bg-gradient-dark" style="padding-top: 144px">
  <div class="mx-auto max-width-4 position-relative">
    {{ page.content }}
  </div>
  <div class="py-4 text-center">
    {% include 'social-sharing', share_title: page.title, share_permalink: page.url %}
  </div>
</div>
