{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<a href="#Login">
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>
