html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}


.site-header {
  background-color: #eee;
  color: white;
  ul {
    list-style: none;
    > li {
      float: left;
    }
  }
}