.btn {
  text-transform: lowercase;
  font-family: $headings-font-family;
}

.btn-circle {
  border-radius: 30px;
}

.btn-primary:hover {
  color: #666;
  background-color: white;
  border-color: white;
}