

// .navbar-expand {
//   @each $breakpoint in map-keys($grid-breakpoints) {
//     $next: breakpoint-next($breakpoint, $grid-breakpoints);
//     $infix: breakpoint-infix($next, $grid-breakpoints);

//     &#{$infix} {

//       @include media-breakpoint-up($next) {

//         .navbar-nav {

//           .nav-link {
//             padding-right: 1.5rem;
//             padding-left: 1.5rem;
//           }
//         }
//       }
//     }
//   }
// }


.nav-link {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 1px 10px rgba(black, 0.3);
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover, &:focus {
    color: white;
    background-color: rgba(black, 0.3);
    box-shadow: 0 2px 10px inset rgba(black, 0.3);
  }
}

.navbar {
  background-color: transparent;
}

.navbar-collapse {
  background-color: rgba(black, 0.5);
}

@include media-breakpoint-up(lg) {
  .navbar-collapse {
    background-color: transparent;
  }
}



.headroom {
  will-change: transform;
  transition: transform 200ms cubic-bezier(0.28, 0.11, 0.32, 1), background-color 200ms linear;
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;

}
.headroom--pinned {
  transform: translateY(0%);
  &.headroom--not-top {
    background-color: rgba(black,0.5);

  }
}
.headroom--unpinned {
  transform: translateY(-100%);
}