

// .navbar-expand {
//   @each $breakpoint in map-keys($grid-breakpoints) {
//     $next: breakpoint-next($breakpoint, $grid-breakpoints);
//     $infix: breakpoint-infix($next, $grid-breakpoints);

//     &#{$infix} {

//       @include media-breakpoint-up($next) {

//         .navbar-nav {

//           .nav-link {
//             padding-right: 1.5rem;
//             padding-left: 1.5rem;
//           }
//         }
//       }
//     }
//   }
// }


.nav-link {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: lowercase;
  color: white;
}


.headroom {
  will-change: transform;
  transition: transform 200ms linear, background-color 200ms linear;
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
}
.headroom--pinned {
  transform: translateY(0%);
  &.headroom--not-top {
    background-color: rgba(black, 0.5);
  }
}
.headroom--unpinned {
  transform: translateY(-100%);
}