.btn {
  text-transform: uppercase;
  font-family: $headings-font-family;
}

.btn-circle {
  border-radius: 30px;
}

.btn-primary:hover {
  color: $green;
  background-color: black;
  border-color: black;
}