.template-index #MainContent {
  padding-top: 0;
}


.hero {
  padding-top: 144px;
  min-height: 60vh;
  padding-bottom: 84px;
  padding-bottom: 84px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../images/concert.jpg'); /* fallback */
  background-image: linear-gradient(127deg, rgba($orange, 0.5), rgba($teal, 0.5)), linear-gradient(336deg, rgba($blue, 0.75), rgba($purple, 0.5)), url('../images/concert.jpg'), ; /* W3C */
  background-size: cover;
  background-attachment: fixed, scroll, fixed;
  background-blend-mode: overlay, overlay, normal;
  @include media-breakpoint-up(lg) {
    min-height: 0;
  }
}

.first-section {
  margin-top: -84px;
}

.first-section .section-header {
  padding-top: 3rem;
  background-image: linear-gradient(transparent, black)
}